<div class="row d-flex justify-content-center mt-5" >
    <div class="col-10">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Bienvenido a gestion de talentos</h5>
          <div class="mt-3 mb-3 d-flex justify-content-evenly">
            <a [routerLink]="['/login']" class="btn btn-primary">Inicio</a>
            <a [routerLink]="['/registro']" class="btn btn-primary">Registro</a>
          </div> 
        </div>
      </div>
    </div>
  </div>