<mat-toolbar color="primary" class="banner-container">
    <span> My Angular Material Application </span>
</mat-toolbar>

<div class="container-top">
    <div>
        {{this.dataListProfile?.first_name}} {{this.dataListProfile?.last_name}}
    </div>
    <div class="d-flex justify-content-around">
        {{this.dataListProfile?.direction}}
        <span>Estrellas totales de 54</span>
    </div>

    <p class="mt-2">Progreso de Carrera</p>
    <mat-progress-bar mode="determinate" value="40" style="width: 20%;"></mat-progress-bar>
    <div>
        <button mat-raised-button color="primary">Abandonar Curso</button><br>
        <button mat-raised-button color="primary">Pausar Curso</button><br>
        <button mat-raised-button color="primary">Explorar Cursos</button><br>
    </div>

</div>

<div class="nav-bar">
    <div class="element" *ngFor="let item from navbar">

    </div>
</div>

<div class="container-down">

    <div class="card-i">
        <div class="col-8 d-flex justify-content-center">
            <div class="row row-cols-1 row-cols-md-4 g-4" style="padding: 10px;">
                <div class="col" *ngFor="let value of quizData; let showIndex index">
                    <div class="card" (click)="showCourse(value.courseId)">
                        <div>
                            <img style="max-width: 300px;" src="assets/program.jpeg" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 12px;">{{value.name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-d">
        panel derecho
    </div>
</div>